<div class="w3agile footer">
			<div class="col-md-4 w3agile_footer_grid">
				<h3>Über uns</h3>
				<p>Wirklich wichtig ist es, auf seinen Körper zu hören und ihm das zu geben, was er braucht. Hierbei unterstützt LISAJA Dich!</p>
				<h3 class="logo"><a href="/secret">Lisaja</a></h3>
			</div>
			<div class="col-md-3 w3agile_footer_grid">	
				<h3>Links</h3>
				<ul>
					<li><a href="/secret">Startseite</a></li>
					<li><a href="/register">Registrierung</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/auth/facebook">Mit Facebook anmelden</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="w3agile agileinfo_copy_right">
			<div class="agileinfo_copy_right_left">
				<p>© 2019 Lisaja. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
			<div class="clearfix"> </div>
	</div>
	<!--/footer/-->
</div>
</div>
	
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
