<div id="menu" class="panel" role="navigation">
			<div class="wrap-content">
				<div class="profile-menu text-center">
					<img class="border-effect" src="images/icon.png" alt=" " width="30">
						<h3>MENÜ</h3>

						<div class="pro-menu">
							<div class="logo">
								<li><a class=" link link--yaku  active" href="secret"><span>H</span><span>o</span><span>m</span><span>e</span></a></li>
								<li><a class=" link link--yaku" href="tracker"><span>T</span><span>r</span><span>a</span><span>c</span><span>k</span><span>e</span><span>r</span></a></li>
								<li><a class=" link link--yaku" href="calendar"><span>K</span><span>a</span><span>l</span><span>e</span><span>n</span><span>d</span><span>e</span><span>r</span></a></li>
								<li><a class=" link link--yaku" href="drinking"><span>T</span><span>r</span><span>i</span><span>n</span><span>k</span><span>e</span><span>n</span></a></li>
								<li><a class=" link link--yaku" href="recipes"><span>R</span><span>e</span><span>z</span><span>e</span><span>p</span><span>t</span><span>e</span></a></li>
							</div>
				

						</div>
				</div>
			</div>
		</div>
		<div class="phone-box wrap push" id="home">
			<div class="menu-notify">
				<div class="profile-left">
					<a href="#menu" class="menu-link"><i class="fa fa-list-ul"></i></a>
				</div>
				<div class="Profile-mid">
					<h5 class="pro-link"><a href="/secret">Lisaja</a></h5>
				</div>
				<div class="Profile-right">
					<a href="/login"> <i class="fa fa-user"></i></a> 
				
