<!DOCTYPE html>
<html lang="de">

<head>
    <% include ../partials/head %>
</head>

<body>
    <link rel="manifest" href="../manifest.json">
    <div class="body-back">
        <div class="masthead pdng-stn1">
            <% include ../partials/header %>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="details-grid">
        <div class="details-shade">
            <div class="details-right">
                <img src="images/icon.png" alt=" " width="60">
                <h3>Herzlich Willkommen</h3>
                <h4>Wir sind uns sicher, dass du uns lieben wirst.</h4>
            </div>
        </div>
    </div>
    
    <!-- <button class="add-button">Zum Startbildschirm hinzufügen?</button>-->

    <div class="w3agile banner-bottom">
        <ul>
            <li class="details-right"><a href="/register" class="hvr-radial-out"><i class="fa fa-pen"
                        aria-hidden="true"></i></a>
                <h6>Registrieren</h6>
            </li>
            <li class="details-right"><a href="/login" class="hvr-radial-out"><i class="fa fa-sign-in-alt"
                        aria-hidden="true"></i></a>
                <h6>Einloggen</h6>
            </li>
            <li class="details-right"><a href="/auth/facebook" class="hvr-radial-out"><i class="fab fa-facebook-square"
                        aria-hidden="true"></i></a>
                <h6>Facebook</h6>
            </li>
        </ul>
    </div>



    <!--/FOOTER/-->
    <% include ../partials/footer %>

</body>

</html>
