<!DOCTYPE html>
<html lang="de">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-back">
        <div class="masthead pdng-stn1">
            <% include ../partials/header %>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipes" class="hvr-radial-out"><i class="fa fa-utensil-spoon" aria-hidden="true"></i></a>
                <h3>Balsamico-Auberginen-Pasta</h3>
            </li>
          
        </ul>
    </div>
    <section class="hauptteil">
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipe4" class="hvr-radial-out"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                <h6>Zutaten (1 Person)</h6>
            </li> </br> </br>
            <li><li class="recipes">200g</li> Aubergine</li></br>
            <li><li class="recipes">8</li> Cocktailtomaten</li></br>
            <li><li class="recipes">1 Zehe</li> Knoblauch</li></br>
            <li><li class="recipes">1 Stück</li> Zwiebel</li></br>
            <li><li class="recipes">1 Zweig</li> Basilikum</li></br>
            <li><li class="recipes">2 TL</li> Olivenöl</li></br>
            <li><li class="recipes">2 EL</li> Balsamicoessig</li></br>
            <li><li class="recipes">1 TL</li> Honig</li></br>
            <li><li class="recipes">40g</li> Vollkornnudeln</li></br>
            <li><li class="recipes">2 Prisen</li> Oregano</li></br>
            <li><li class="recipes">2 Prisen</li> Pfeffer und Salz</li></br>
            <li><li class="recipes">10g</li> Parmesan</li>
        </ul>
    </div>
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipe4" class="hvr-radial-out"><i class="fa fa-fire" aria-hidden="true"></i></a>
                <h6>Zubereitung</h6> 
            </li> </br> </br>
            <li>Aubergine waschen, in dünne Scheiben schneiden und die Scheiben</br>
            leicht salzen, damit die Bitterstoffe entzogen werden. </br>
            Die Cocktailtomaten waschen und vierteln. </br>
            Knoblauch und Zwiebel schälen und würfeln. </br>
            Basilikum waschen und in mundgerechte Stücke zupfen. </br>
            Olivenöl in einer beschichteten Pfanne erhitzen, die Knoblauch- </br>
            und Zwiebelwürfel kurz anbraten. Dann die Auberginenscheiben mit </br>
            einem Papiertuch vom Salz befreien und ebenfalls zum Anbraten mit </br>
            in die Pfanne geben. Nach etwa 5 Minuten die Tomatenstücke </br>
            dazugeben und kurz erhitzen. Dann den Balsamico-Essig und den </br>
            Honig hinzufügen und bei geringer Hitze 10 Minuten ziehen lassen. </br>
            In der Zwischenzeit die Nudeln nach Packungsanweisung zubereiten. </br>
            Nach dem Absieben eine Tasse Nudelwasser aufheben. </br>
            Nun die Balsamico-Auberginen-Tomaten-Soße ggf. mit dem Nudelwasser </br>
            strecken und mit Salz, Pfeffer und Oregano abschmecken. </br>
            Die Nudeln auf einem Teller anrichten und die Soße darübergeben. </br>
            Parmesan frisch über die Balsamico-Auberginen-Pasta reiben und </br>
            den frischen Basilikum darüberstreuen. </li>
        </ul>
    </div>
    </section>
    
    <section class="nebenteil">
        <div class="w3agile banner-bottom">
            <ul>
                <li><a href="/recipe4" class="hvr-radial-out"><i class="fa fa-leaf" aria-hidden="true"></i></a>
                    <h6>Nährwertangaben</h6> 
                </li> </br> </br>
                <li><li class="recipes">349</li> Kalorien</li></br>
                <li><li class="recipes">11g</li> Fett</li></br>
                <li><li class="recipes">44g</li> Kohlenhydrate</li></br>
                <li><li class="recipes">13g</li> Eiweiß</li></br>
                <li><li class="recipes">10g</li> Ballaststoffe</li>
            </ul>
        </div>
    </section>
    
    
<div class="w3agile banner-bottom">
        <ul>
            <li class="details-right"><a href="/logout" class="hvr-radial-out"><i class="fa fa-sign-out-alt"
                        aria-hidden="true"></i></a>
                <h6>Abmelden</h6>
            </li>
        </ul>
    </div>

    <!--/FOOTER/-->
    <% include ../partials/footer %>
    
</body>
</html>
