<!DOCTYPE html>
<html lang="de">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-back">
        <div class="masthead pdng-stn1">
            <% include ../partials/header %>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipes" class="hvr-radial-out"><i class="fa fa-utensils" aria-hidden="true"></i></a>
                <h3>Rezepte</h3>
            </li>
          
        </ul>
    </div>
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipe1" class="hvr-radial-out"><i class="fa fa-utensil-spoon" aria-hidden="true"></i></a>
                <h6>Sommer </br> Frühstücks-Bowl</h6>
            </li>
            <li></li>
            <li><a href="/recipe2" class="hvr-radial-out"><i class="fa fa-utensil-spoon" aria-hidden="true"></i></a>
                <h6>Gemüsepfanne </br> Mittelmeer</h6>
            </li>
        </ul>
    </div>
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipe3" class="hvr-radial-out"><i class="fa fa-utensil-spoon" aria-hidden="true"></i></a>
                <h6>Quinoa in </br> scharfer Gemüsesoße</h6>
            </li>
            <li></li>
            <li><a href="/recipe4" class="hvr-radial-out"><i class="fa fa-utensil-spoon" aria-hidden="true"></i></a>
                <h6>Balsamico-</br>Auberginen-Pasta</h6>
            </li>
        </ul>
    </div>
   
    
<div class="w3agile banner-bottom">
        <ul>
            <li class="details-right"><a href="/logout" class="hvr-radial-out"><i class="fa fa-sign-out-alt"
                        aria-hidden="true"></i></a>
                <h6>Abmelden</h6>
            </li>
        </ul>
    </div>


    <!--/FOOTER/-->
    <% include ../partials/footer %>
    
</body>
</html>
