<!DOCTYPE html>
<html lang="de">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-back">
        <div class="masthead pdng-stn1">
            <% include ../partials/header %>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipes" class="hvr-radial-out"><i class="fa fa-utensil-spoon" aria-hidden="true"></i></a>
                <h3>Quinoa mit Thunfisch in scharfer Gemüsesoße</h3>
            </li>
          
        </ul>
    </div>
    <section class="hauptteil">
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipe3" class="hvr-radial-out"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                <h6>Zutaten (1 Person)</h6>
            </li> </br> </br>
            <li><li class="recipes">30g</li> Quinoa</li></br>
            <li><li class="recipes">90ml</li> Wasser</li></br>
            <li><li class="recipes">1 TL</li> Salz</li></br>
            <li><li class="recipes">2 TL</li> Kräuter</li></br>
            <li><li class="recipes">1 Stück</li> Zwiebel</li></br>
            <li><li class="recipes">1 Zehe</li> Knoblauch</li></br>
            <li><li class="recipes">50g</li> Zucchini</li></br>
            <li><li class="recipes">100g</li> Paprika</li></br>
            <li><li class="recipes">100g</li> Thunfisch</li></br>
            <li><li class="recipes">1 TL</li> Olivenöl</li></br>
            <li><li class="recipes">150g</li> Tomate</li></br>
            <li><li class="recipes">1 Prise</li> Pfeffer und Salz</li></br>
            <li><li class="recipes">1 Spritzer</li> Tabasco</li></br>
            <li><li class="recipes">1 Prise</li> Basilikum</li>
        </ul>
    </div>
    <div class="w3agile banner-bottom">
        <ul>
            <li><a href="/recipe3" class="hvr-radial-out"><i class="fa fa-fire" aria-hidden="true"></i></a>
                <h6>Zubereitung</h6> 
            </li> </br> </br>
            <li>Quinoa in einem Sieb unter fließendem Wasser abspülen. </br>
            Dann in einen Topf geben und mit Wasser bedecken. </br>
            Salz hinzugeben und bei schwacher Hitze etwa 15 Minuten garen.</br> 
            Die Kräuter nach Ende der Garzeit untermischen. </br></br>

            Die Zwiebel und den Knoblauch in feine Würfel schneiden. </br>
            Das Gemüse putzen, waschen und sehr fein würfeln.</br></br>

            Die Thunfischsteaks in Würfel schneiden und scharf </br>
            in Olivenöl anbraten. Den Fisch aus der Pfanne nehmen und die </br>
            Zwiebelwürfel sowie den Knoblauch in der Pfanne glasig dünsten. </br>
            Dann die Tomaten aus der Dose hinzufügen. </br>
            Nun das Gemüse hinzugeben und ca. 5 bis 10 Minuten köcheln lassen.</br> 
            Mit den Gewürzen, Tabasco und Basilikum abschmecken und dann die </br>
            Thunfischwürfel wieder hinzugeben. </br>
            Noch einmal bei wenig Hitze etwa 2 Minuten garen.</li>
        </ul>
    </div>
    </section>
    
    <section class="nebenteil">
        <div class="w3agile banner-bottom">
            <ul>
                <li><a href="/recipe3" class="hvr-radial-out"><i class="fa fa-leaf" aria-hidden="true"></i></a>
                    <h6>Nährwertangaben</h6> 
                </li> </br> </br>
                <li><li class="recipes">373</li> Kalorien</li></br>
                <li><li class="recipes">13g</li> Fett</li></br>
                <li><li class="recipes">30g</li> Kohlenhydrate</li></br>
                <li><li class="recipes">32g</li> Eiweiß</li>
            </ul>
        </div>
    </section>
    
      <div class="w3agile banner-bottom">
        <ul>
            <li class="details-right"><a href="/logout" class="hvr-radial-out"><i class="fa fa-sign-out-alt"
                        aria-hidden="true"></i></a>
                <h6>Abmelden</h6>
            </li>
        </ul>
    </div>

    <!--/FOOTER/-->
    <% include ../partials/footer %>
    
</body>
</html>
